@font-face {
    font-family: HelveticaNeueCyrThin;
    src: url(../fonts/HelveticaNeueCyr-Thin.otf);
}

@font-face {
    font-family: HelveticaNeueCyrUltraLight;
    src: url(../fonts/HelveticaNeueCyr-UltraLight.otf);
}

html {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: HelveticaNeueCyrThin, Verdana;
	font-size: 15px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.flex-child {
	height: 100%;
}

a {
	color: #000000;
	text-decoration: none;
}

.header {
	text-align: center;
	height: 64px;
	line-height: 64px;
}

.header-menu {
	display: inline-block;
	position: relative;
}

.header-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-menu ul li {
	display: inline;
	margin: 0;
	padding: 0 20px;
}

.header-menu ul li a {
	margin: 0;
	padding: 0;
}

li.header-menu-video {
	position: relative;
}

.header-menu ul li.header-menu-video a {
	padding: 0 0 0 10px;
	background: transparent url(../images/right-arrow.png) no-repeat left center;
}

li.header-menu-video span {
	position: absolute;
	top: 15px;
	left: 0px;
	line-height: 10px;
	font-size: 10px;
	width: 100%;
	text-align: center;
}

.header-social {
	position: absolute;
	top: 21px;
	right: 20px;
}

.header-social a {
	display: block;
	width: 14px;
	height: 22px;
	background: transparent url(../images/fb.png) no-repeat center center;
}

.header-and-main {
	background: transparent url(../images/main-bg.jpg) no-repeat center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-logo {
	height: 100%;
	background: transparent url(../images/main-logo.png) no-repeat center;
	background-size: contain;
}

.main-sublogo {
	height: 170px;
}

.main-history-link {
	white-space: nowrap;
}

.main-history-left a,
.main-history-right a {
	font-size: 12px;
}

.main-counter {
	width: 100%;
	text-align: center;
}

.main-counter-time {
	padding: 10px 0 20px 0;
}

.time-part {
	display: inline-block;
	position: relative;
}

.time-separator {
	display: inline-block;
	font-size: 35px;
}

.time-value {
	font-size: 35px;
	padding: 0 15px;
}

.time-value-text {
	position: absolute;
	top: 33px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 11px;
}

.main-counter-help a {
	text-decoration: underline;
	font-size: 12px;
}

.about {
	background: transparent url(../images/about-bg.jpg) no-repeat left top;
	background-size: cover;
	min-height: 600px;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
}

.about-header {
	text-align: center;
	font-size: 35px;
	padding: 20px 0 40px 0;
	height: 30px;
}

.about-container {
	display: flex;
	justify-content: space-around;
}

.about-el {
	/*padding: 30px 50px;*/
}

.about-el-img-1 {
	height: 122px;
	background: transparent url(../images/about-1.png) no-repeat center bottom;
}

.about-el-img-2 {
	height: 122px;
	background: transparent url(../images/about-2.png) no-repeat center bottom;
}

.about-el-img-3 {
	height: 122px;
	background: transparent url(../images/about-3.png) no-repeat center bottom;
}

.about-el-img-4 {
	height: 122px;
	background: transparent url(../images/about-4.png) no-repeat center bottom;
}

.about-el-img-5 {
	height: 122px;
	background: transparent url(../images/about-5.png) no-repeat center bottom;
}

.about-el-header {
	font-size: 20px;
	padding: 0 0 10px 0;
	text-align: center;
}

.about-el-text {
	width: 270px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
}

.contact {
	background: #fcdb30;
	height: 234px;
	display: block;
}

.contact-wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	display: block;
}

.contact-header {
	text-align: center;
	font-size: 25px;
	padding: 15px 0 0 0;
}

.contact-info {
	text-align: center;
	font-size: 13px;
	padding: 10px 0 0 0;
	line-height: 15px;
}

.contact-inputs {
	text-align: center;
	padding: 10px 0 0 0;
}

.contact-inputs label,
.contact-inputs input[type=text]{
	font-size: 19px;
	line-height: 19px;
	border: none;
    padding: 4px;
	font-family: HelveticaNeueCyrThin, Verdana;
}

.contact-checks-1 {
	font-size: 15px;
	line-height: 15px;
	padding: 10px 0 0 0;
}

.contact-checks-1 input[type=checkbox] {
	display: none;
}

.contact-checks-2 input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
	display: inline-block;
    height: 20px;
	line-height: 20px;
	background: url(../images/checkbox-small.png) no-repeat left center;
	margin: 0;
	padding: 0 10px 0 18px;
	cursor: pointer;
}

input[type=checkbox]:checked + label {
	background: url(../images/checkbox-small-checked.png) no-repeat left center;
}

input[type=checkbox].checkbox-big + label {
	display: inline-block;
    height: 23px;
	line-height: 26px;
	background: url(../images/checkbox-big.png) no-repeat left center;
	margin: 0;
	padding: 0 10px 0 28px;
	cursor: pointer;
}

input[type=checkbox].checkbox-big:checked + label {
	background: url(../images/checkbox-big-checked.png) no-repeat left center;
}

.contact-checks-2 {
	font-size: 15px;
	line-height: 15px;
	padding: 10px 0 0 0;
}

.contact-send {
	position: absolute;
	bottom: -25px;
    right: 150px;
	width: 160px;
	display: block;
	background: #000000;
	font-size: 19px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
}

.video {
	position: relative;
}

.video video {
	position: relative;
	background: transparent url(../images/video-bg.jpg) no-repeat left top;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.video-header {
	position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    color: #FFFFFF;
	z-index: 1;
}

.video-play {
	background: transparent url(../images/video-play.png) no-repeat center center;
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	cursor: pointer;
}

.video-social {
	position: absolute;
    bottom: 20px;
    right: 20px;
	z-index: 3;
}

.video-social-count {
	color: #FFFFFF;
	font-size: 6px;
	margin: 0 -5px 0 0;
    font-weight: bold;
}

.video-social-button {
	color: #FFFFFF;
	font-size: 14px;
	height: 16px;
	line-height: 23px;
	display: inline-block;
	background: transparent url(../images/fb-white.png) no-repeat top left;
	padding: 0 0 0 15px;
}

.quotes {
	background: transparent url(../images/quotes-bg.jpg) no-repeat left top;
	background-size: cover;
	min-height: 590px;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
}

.quotes-header {
	text-align: center;
	font-size: 30px;
	height: 30px;
	padding: 20px 0;
}

.quotes-wrapper {
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.quote-left,
.quote-right {
	width: 500px;
	padding: 20px 0;
}

.quote-left {
	float: left;
	text-align: left;
}

.quote-right {
	float: right;
	text-align: right;
}

.quote-text {
	font-size: 16px;
	line-height: 18px;
	background: transparent url(../images/quote.png) no-repeat left top;
	display: inline-block;
    padding: 0 0 0 20px;
}

.quote-source {
	font-style: italic;
	text-align: right;
}

.bottom {
	height: 76px;
	position: relative;
}

.bot-social {
	position: absolute;
	top: 0;
	left: 0;
}

.bot-social a {
	display: block;
	width: 14px;
	height: 22px;
	background: transparent url(../images/fb.png) no-repeat center center;
	height: 76px;
    line-height: 76px;
    margin: 0 0 0 20px;
}

.bot-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.bot-menu ul li {
	display: inline-block;
	margin: 0;
	padding: 0 20px;
	height: 76px;
    line-height: 86px;
}

.bot-menu ul li.bot-logo {
	background: transparent url(../images/bot-logo.png) no-repeat center center;
}

.bot-menu ul li a {
	margin: 0;
	padding: 0;
}

.bot-design {
	position: absolute;
	top: 0;
	right: 0;
}

.bot-design a {
	display: block;
	background: transparent url(../images/design.jpg) no-repeat center center;
	width: 52px;
	height: 76px;
    line-height: 76px;
    margin: 0 20px 0 0;
}

.clear {
	clear: both;
}
